<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>SkillDosti</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/colors/main.css" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


	<% include common/header.ejs %>

	<% include indexmodules/indexBanner.ejs %>

	<% include indexmodules/indexContent.ejs %>

	<% include indexmodules/indexCarousel.ejs %>

	<% include indexmodules/indexFullwidthsection.ejs %>

	<% include indexmodules/indexInfosection.ejs %>

	<% include indexmodules/indexRecentblogpost.ejs %>

	<% include common/footer.ejs %>


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="scripts/mmenu.min.js"></script>
<script type="text/javascript" src="scripts/chosen.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script type="text/javascript" src="scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="scripts/waypoints.min.js"></script>
<script type="text/javascript" src="scripts/counterup.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/tooltips.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>


	<% include indexmodules/indexStyleswitcher.ejs %>


</body>
</html>
